/*corpo*/
body {
    font-family: Arial, sans-serif;
}
/*formulário*/
.container {
    width: 600px;
    margin: 0 auto;
}
label {
    display: block;
    margin-top: 10px;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border-width: 0 0 1px 0;
}
/*segunda secao*/
div#segunda-secao, div#terceira-secao{
    display: flex;
    justify-content: space-between;
}
div#secao-email {
    width: 70%;
}
input[type=date] {
    border-width: 1px;
    height: 14px;
}
/*terceira secao*/
div#secao-telefone {
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.secao-radio {
    display: flex;
    margin-top: 5px;
}
/*botoes*/
button {
    margin-top: 10px;
    padding: 10px;
}